API_HOST=
API_PORT=
API_LOG_LEVEL=
API_CORS_ORIGINS=
API_DEBUG=
API_NAME_SERVICE=

SECURITY_ALGORITHM=
SECURITY_ISSUER=
SECURITY_SECRET_KEY=

POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_CONFIG_SERVER_MODE=
PGADMIN_EXTERNAL_PORT=

REDIS_URL=
REDIS_USER_DB=
REDIS_JWKS_DB=
REDIS_CODE_DB=
REDIS_REVOKED_TOKEN_DB=

TOKEN_ISSUER=
TOKEN_ALGORITHM=

KAFKA_SERVER=
KAFKA_CONSUMER_TOPICS=
